$font-size: 16px;
$font: 'Roboto', serif;

$regular: 400;
$light-bold: 500;

$violet: #9b0ff2;
$violet-light: #ddacfb;

// $secondary: #b0907a;
// $light-pink: #e1d4c9;
// $grey: #403f3d;
// $light-grey: #665f55;
// $dark-white: #c1b6ad;

// $desktop-width: 1360px;

// $undersection-margin: 100px;
// $undertitle-margin: 40px;
// $radius: 40px;

$desktop: 1440px;
$tablet: 768px;
$mobile: 380px;
