$font-size: 16px;
$font: 'Roboto', serif;

$regular: 400;
$light-bold: 500;
$semi-bold: 600;
$bold: 700;

$white: #fff;
$black: #000;
$light-black: #a39696;
$violet: #9b0ff2;
$violet-light: #ddacfb;
$violet-button-hover: #bf22e1;
$light-orange: beige;
$red: #f04d11;
