// normalize style
@import './variables/variables';
@import './mixins/mixins';

html {
  font-size: $font-size;
  scroll-behavior: smooth;
}

*,
::before,
:after,
p,
h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: $font-size;
  scroll-behavior: smooth;
}

body {
  max-width: 1440px;
  font-family: $font;
  font-weight: $regular;
  margin: 0 auto;
  padding: 10px;
  -webkit-tap-highlight-color: transparent;
}

.container {
  max-width: 1440px - 80px;
  margin: 0 auto;
}

// ===================================== Header =====================================
.lock {
  overflow: hidden;
}

.root-lock {
  position: relative;
}

header {
  background-image: url(../images/header/bg.webp);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 0 40px 40px;
}

.header {
  @include flex(space-between, center);
  height: 150px;
  padding: 10px;

  .burger {
    display: none;
  }
}

.header__inner {
  @include flex(space-between, center);
  height: 150px;

  &-logo {
    height: 40px;
    max-width: 250px;
  }

  &-menu {
    @include flex(space-between, center);
    list-style: none;
    gap: 40px;
    margin-bottom: 15px;
  }
}

.search__block {
  position: relative;
  flex-grow: 1;
  margin-right: 20px;

  &-input {
    padding: 20px 75px;
    background-color: $white;
    border-radius: 35px;
    outline: none;
    border: none;
    font-size: 2rem;
    flex-grow: 1;
    width: 100%;
  }

  &-icon {
    position: absolute;
    left: 20px;
    top: calc(50% - 25px);
    cursor: pointer;
  }

  &-camera {
    position: absolute;
    right: 20px;
    top: calc(50% - 25px);
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
}

.menu__icon {
  width: 50px;
  height: 50px;

  &-item {
    @include flex-column;
    cursor: pointer;

    span {
      margin-top: 5px;
      color: $white;
      font-size: 1rem;
      font-weight: $light-bold;
    }
  }
  &-item-marker {
    @include marker;
  }

  &:last-child {
    position: relative;
  }
}

.show {
  @include flex(center, center);
}

.burger-field {
  display: none;
}

.delivery-icon:hover path,
.delivery-icon:hover polyline,
.delivery-icon:hover line,
.like-icon:hover path,
.account-icon:hover path,
.cart-icon:hover path {
  fill: $white;
}

.account-icon:hover path {
  stroke: $white;
}

// ===================================== /Header =====================================

// ===================================== Slider =====================================

.slider-section {
  margin: 40px 0;
}

.slider {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1352px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 20px;

  &__btn-prev,
  &__btn-next {
    @include flex(center, center);
    position: absolute;
    width: 40px;
    height: 40px;
    top: calc(50% - 20px);
    left: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 5;

    &:hover {
      svg {
        fill: $violet;
      }
    }
  }

  &__btn-next {
    left: auto;
    right: 10px;
  }

  &__line {
    display: flex;
    width: 1352px;
    position: relative;
    transition: all 0.3s linear;
  }

  &__indicators {
    @include flex(center, center);
    margin-top: 20px;
    list-style: none;
    gap: 20px;

    &-item {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: $violet-light;
      cursor: pointer;

      &:hover {
        background-color: $violet;
      }
    }
  }
}

.slider-arrow-prev {
  position: absolute;
  transform: rotate(-180deg);
}

.slider-arrow-next {
  position: absolute;
}

.active {
  background-color: $violet;
}

// ===================================== /Slider =====================================

// ================ Cards section ================

.cards__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(212px, 1fr));
  grid-column-gap: 8px;
  grid-row-gap: 40px;
}

.cards__title {
  font-size: 2rem;
  margin-bottom: 20px;
  margin-left: 20px;
}

.cards-item {
  @include flex-column;
  align-items: flex-start;
  cursor: pointer;
  position: relative;

  &__img {
    width: 100%;
    height: 280px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 8px;
    position: relative;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    &_hover {
      display: none;
      width: 80%;
      border: none;
      color: $white;
      outline: none;
      padding: 10px 10px;
      border-radius: 5px;
      font-size: 17px;
      background-color: rgba(255, 255, 255, 0.5);
      backdrop-filter: blur(5px);
      position: absolute;
      bottom: 10%;
      left: 50%;
      transform: translate(-50%, 50%);
      z-index: 5;
      cursor: pointer;

      &:hover {
        color: $violet-button-hover;
        background-color: $violet-light;
      }
    }
  }

  &__price {
    span {
      font-size: 30px;
      font-weight: $semi-bold;

      &:hover {
        color: $violet;
      }
    }
  }

  &__delivery {
    margin-bottom: 13px;
  }

  &__description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    flex: 1;
    margin-bottom: 20px;
  }

  &__btn {
    button {
      padding: 5px 10px;
      color: $white;
      background-color: $violet;
      outline: none;
      border: none;
      border-radius: 5px;
      font-weight: $bold;
      font-family: 'Roboto';
      font-size: 17px;
      cursor: pointer;

      &:hover {
        background-color: $violet-button-hover;
      }
    }
  }

  &__like {
    position: absolute;
    right: 10px;
    top: 10px;

    svg {
      cursor: pointer;
      &:hover {
        fill: $violet-button-hover;
      }
    }
  }
}

.hidden-card {
  display: none;
}

// ================ Card modal ===================
.card-modal {
  @include flex(center, center);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);

  &__info {
    @include flex(center, space-between);
    width: 70%;
    height: 70%;
    border-radius: 20px;
    background-color: $white;
    position: relative;

    &-close {
      font-size: 2rem;
      color: $light-black;
      position: absolute;
      top: 15px;
      right: 15px;
      cursor: pointer;

      &:hover {
        color: $black;
      }
    }

    &-left {
      width: 50%;
      height: 100%;
      overflow: hidden;

      &-img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 20px 0 0 20px;
      }
    }
    &-right {
      @include flex-column;
      align-items: flex-start;
      padding: 70px 10px;
      width: 50%;
      height: 100%;
      position: relative;

      &-discription {
        font-size: 1.5rem;
        margin-bottom: 50px;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

      &-price {
        font-size: 5rem;
        font-weight: $light-bold;
      }

      &-delivery {
        margin-top: 10px;
        font-size: 1.2rem;
      }

      &-button {
        position: absolute;
        left: 10px;
        bottom: 10px;
        width: 190px;
        color: $white;
        background-color: $violet;
        border: none;
        border-radius: 5px;
        outline: none;
        padding: 10px 20px;
        font-family: Roboto;
        font-size: 24px;
        font-weight: 700;
        cursor: pointer;

        &-clicked {
          background-color: $light-black;
          color: $white;
          cursor: auto;
        }

        &:hover {
          background-color: $violet-button-hover;
        }
      }
    }
  }
}

// ================ /Card modal ===================

// ================ Basket ===================
.basket-card {
  @include flex-column;
  padding: 40px;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: auto;
  scrollbar-width: none;

  &__title {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  &__list {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(auto, 1fr));
    gap: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__total {
    @include flex(space-between, center);
    width: 100%;
    font-size: 2rem;
    margin-top: 20px;
    &-btn {
      color: #fff;
      cursor: pointer;
      background-color: #9b0ff2;
      border: none;
      border-radius: 5px;
      outline: none;
      width: 190px;
      padding: 16px 5px;
      font-family: Roboto;
      font-size: 20px;
      font-weight: 700;

      &:hover {
        background-color: $violet-button-hover;
      }
    }
  }
}

.basket-item {
  @include flex(space-between, center);
  gap: 10px;
  background-color: $light-orange;
  padding: 10px;
  height: 135px;
  border-radius: 15px;
  overflow: hidden;

  &__image {
    width: 150px;
    border-radius: 5px;
  }

  &__content {
    @include flex-column;
    align-items: flex-start;
    width: 40%;
    height: 100%;
    overflow: hidden;
    justify-content: space-between;

    &-description {
      max-height: calc(1.2em * 3);
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 1.2em;
    }
  }

  &__price {
    font-size: 2rem;
    color: $violet;
  }
}
// ================ /Basket ===================

// ================ /Cards section ================

// ================ Media ================

@media screen and (max-width: 1200px) {
  .header__inner-menu {
    display: none;
  }

  // ================ Burger ================
  .burger-field {
    position: relative;
    display: block;
  }

  .menu__icon-item-marker-burger {
    @include marker;
    width: 23px;
    height: 23px;
    top: -13px;
    font-size: 14px;
    &-show {
      @include flex(center, center);
    }
  }
  .header .burger {
    display: flex;
  }

  .burger {
    @include flex-column;
    margin-left: 35px;
    width: 75px;
    height: 75px;
    position: relative;
    cursor: pointer;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.4);

    span {
      width: 60%;
      height: 4px;
      background-color: $white;
      position: absolute;
      left: 20%;
      top: calc(50% - 2px);
      transition: all 0.3s ease;

      &:first-child {
        top: 20%;
      }
      &:last-child {
        top: auto;
        bottom: 20%;
      }
    }
  }

  .burger_close {
    position: relative;
    z-index: 10;
    span {
      display: none;
      position: absolute;
      transition: all 0.3s ease;
    }
    span:first-child {
      display: block;
      transform: rotate(45deg);
      top: calc(50% - 2px);
    }

    span:last-child {
      display: block;
      top: calc(50% - 2px);
      transform: rotate(-45deg);
    }
  }
  // ================ /Burger ================

  // ================ Popup ================
  .popup {
    @include flex-column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 6;
    padding: 5px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s linear;

    &__innerblock {
      @include flex-column;
      margin: auto;
      width: 80%;
      height: 800px;
      background-color: #1a1a1a;
      border-radius: 35px;
      opacity: 0.8;
      overflow-y: scroll;
      scrollbar-width: none;

      .header__inner-menu {
        display: flex;
        @include flex-column;
        gap: 100px;

        .menu__icon {
          width: 80px;
          height: 80px;
        }

        span {
          font-size: 2rem;
        }
      }
    }
  }

  .show-popup {
    left: 0;
    opacity: 1;
    visibility: visible;
  }

  // ================ /Popup ================
}

@media screen and (max-width: 980px) {
  .header__inner-logo {
    display: none;
  }

  .header__inner-menu {
    gap: 70px;
  }

  .header__inner-menu {
    font-size: 1rem;
  }

  .menu__icon {
    width: 60px;
    height: 60px;
  }

  .search__block-input {
    font-size: 1.8rem;
  }

  .slider-arrow-prev,
  .slider-arrow-next {
    display: none;
  }

  .card-modal__info-right {
    &-discription {
      margin-bottom: 25px;
      font-size: 1rem;
    }

    &-price {
      font-size: 3rem;
    }
  }
}

@media screen and (max-width: 720px) {
  .burger {
    margin-left: 10px;
  }

  .basket-card__total {
    flex-direction: column;
    gap: 20px;
  }
}

@media screen and (max-width: 680px) {
  .search__block-input {
    font-size: 1.6rem;
    width: calc(100% - 150px);
  }

  .burger {
    width: 70px;
    height: 70px;
  }

  .card-modal__info-right-button {
    width: 150px;
    font-size: 20px;
  }

  .card-modal__info-right-price {
    font-size: 2.1rem;
  }
}

@media screen and (max-width: 480px) {
  .header__inner-menu {
    gap: 70px;
  }

  .card-modal__info {
    @include flex-column;
  }

  .card-modal__info-left {
    flex-direction: column;
    width: 100%;
    height: 50%;
    overflow: hidden;

    &-img {
      border-radius: 20px 20px 0 0;
    }
  }

  .card-modal__info-right {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    position: relative;
  }

  .card-modal__info-close {
    top: -35px;
    right: -30px;
    color: $white;
  }
}

@media screen and (max-width: 400px) {
  .card-modal__info-right-button {
    width: 150px;
    font-size: 14px;
    bottom: 20px;
    left: auto;
  }
}
